#content {
	width: 850px;
	margin: 0 auto;
}

#fixed {
	background-color: #eee;
	height: 90px;
	width: 250px;
	text-align: center;
	font-weight: bold;
	padding-top: 20px;
	position: fixed;
	font-size: 1.5em;
	top: 0;
	left: 0;
}

#relative {
	background-color: #eee;
	height: 150px;
	position: relative;
	font-weight: bold;
	text-align: center;
	padding-top: 40px;
	font-size: 1.5em;
}

#absolute {
	background-color: #999;
	position: absolute;
	width: 45%;
	height: 70px;
	padding-top: 10px;
	right: -20px;
	bottom: 0;
}

